@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

body {

  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-image:linear-gradient(to right, rgb(173, 216, 230), rgb(151, 151, 153) );
}

footer {
  background-image:linear-gradient(to bottom, rgb(42, 42, 43),rgb(65, 65, 65) );
  color: aliceblue;
  text-align: center;
  font-size:10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(177, 160, 12);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

#botao_acessar {
  text-align: left;
}

h1 {
  text-align: center;
}

h6{
  text-align: center;
}

.tamanho_fundo {
  width: 100vw;
  height: 200px;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}

.top {
  background-image:linear-gradient(to right, #add8e6, rgb(151, 151, 153) );
}

.mid {
  background-image:linear-gradient(to right, rgb(151, 151, 153), rgb(64, 79, 85));
}

.down {
  background-image:linear-gradient(to right, rgb(64, 79, 85), rgb(173, 216, 230));
}

.tamanho_divisao {
  width: 100vw;
  height: 5px;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}

.divisao_top_mid {
  background-image:linear-gradient( #fffb00, rgb(190, 188, 32));
}

.divisao_mid_down {
  background-image:linear-gradient( rgb(175, 173, 48), rgb(255, 251, 0));
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 100px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(-90deg);
}

.triangle:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 110px solid yellow;
  border-left: 110px solid transparent;
  transform: rotate(-90deg);
}

.triangle iframe {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

.triangle-text {
  position: relative;
  top: -110px;
  left: -65px;
  transform: rotate(45deg);
  color: black;
  font-style: italic;
  font-size: 18px;
}


