.body {
  margin: 0;
  padding: 0;
}

.tamanho_fundo {
  width: 100vw;
  height: 200px;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

.top {
  background-color: rgb(173, 216, 230);
}

.mid {
  background-color: rgb(151, 151, 153);
}

.down {
  background-color: rgb(64, 79, 85);
}

.tamanho_divisao {
  width: 100vw;
  height: 10px;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

.divisao_top_mid {
  background-color: rgb(255, 251, 0);
}


.divisao_mid_down {
  background-color: rgb(219, 216, 4);
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 100px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(-90deg);
}

.triangle iframe {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

.triangle-text {
  position: relative;
  top: -136px;
  left: -58px;
  transform: rotate(45deg);
  color: black;
  font-style: italic;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.coop {
  text-align: center;
}