@charset "UTF-8"

* {
  box-sizing: border-box;
  font-family: 'Arial Narrow Bold', sans-serif;
}
/*
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
*/
header{

}

body{
  margin: 0px;
  padding: 0px;
  /*background-image: url(../img/fundo_vagas_trabalho.jpg), rgba(0, 128, 117, 0.116);*/
  
  background-image: linear-gradient(to bottom, rgba(0, 128, 117, 0.116), rgba(0, 128, 117, 0.116)), url(../img/fundo_vagas_trabalho.jpg);

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;


}

.fundo-tela {
  height: 100vh;
  width: 100vw;
  
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}



h1, p, legend {
  text-align: center;
  color: whitesmoke;
  text-shadow: 0px 0px 10px #000000;
}
p {
  font-size: 18px;
}

h1 {
  margin: 0px;
  padding: 10px;
}


nav {
  background-color: #ffffffd0;
  max-width: 436px;
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}



.menu-item:hover a {
  color: #c4a600;
  transition: color 0.1s ease-in-out 0.1s;
  border: 2px solid rgba(0, 0, 0, 0.705);
  font-size: larger; /*tornar absoluto*/
  cursor: pointer;
}
  
.menu-item a {
  text-decoration: none;
  color: #333;

}
  
.menu-item {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}

footer{
  width: 100vw;
  text-align: center;
  font-size: small;
  background-color: lightgray;
  margin: 0px;
  padding: 15px 0px 0px 0px;

}

.login>label>img, .senha>label>img {
  background-color: white;
  background-size: contain;
  border-radius: 10px;
  }

.login>label, .senha>label  

.login, .senha {
  width: 300px;
  padding: 5px 5px;
}  

.telaLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  display: flex;
  justify-content: center;

}

fieldset {
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 10px;
  margin: 0px 15px 0px 15px;
  padding: 0px 5px;

  position: absolute
}

.tela-cadastro {
  margin: 5px auto;
  display: flex;
  justify-content: center;
}