@charset "UTF-8"

* {
  margin: 0px;
  padding: 0px;
}

header{

}

html, body{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.055);

  
}

body{
  background-size: cover;
  background-attachment: fixed;

}

main{
  position: relative;
  height: 100vh;
  background-color: rgba(0, 128, 0, 0.116);

}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

section#meioTela{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100vh;
  width: 100vw;
  background-color: rgba(173, 216, 230, 0.658);

  margin: 10px;
  padding: 10px;
}

nav {
  background-color: #ffffffd0;
  max-width: 436px;
}
  
  
.menu-item:hover a {
  color: #c4a600;
  transition: color 0.1s ease-in-out 0.1s;
  border: 2px solid rgba(0, 0, 0, 0.705);
  font-size: larger;
}
  
.menu-item a {
  text-decoration: none;
}
  
.menu-item {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  color: #333;
  font-size: large;
}
  

footer{
  text-align: center;
  font-size: small;
  background-color: lightgray;
}

